global:
    scrape_interval: 15s
    evaluation_interval: 15s

# Load alert rules
rule_files:
    - /etc/prometheus/alert_rules.yml

scrape_configs:
    - job_name: "prometheus"
      static_configs:
          - targets: ["localhost:9090"]

    - job_name: "backend"
      metrics_path: /metrics
      static_configs:
          - targets: ["backend:8000"]
