apiVersion: 1

datasources:
    - name: Loki
      type: loki
      access: proxy
      url: http://loki:3100
      jsonData:
          maxLines: 1000
          derivedFields:
              # Link to trace if trace_id is present
              - datasourceUid: tempo
                matcherRegex: "trace_id=(\\w+)"
                name: TraceID
                url: "$${__value.raw}"
      editable: true
      isDefault: false
